mode: deployment

image:
  repository: otel/opentelemetry-collector-contrib

replicaCount: 1

config:
  receivers:
    jaeger: null
    prometheus: null
    zipkin: null
  
  processors:
    batch:
      timeout: 10s
      send_batch_size: 1024
  
  exporters:
    zipkin:
      endpoint: http://zipkin.observability.svc.cluster.local:9411/api/v2/spans
      format: json
      default_service_name: unknown-service

  service:
    pipelines:
      metrics: null
      logs: null
      traces:
        receivers:
          - otlp
        processors:
          - batch
        exporters:
          - zipkin

ports:
  jaeger-compact:
    enabled: false
  jaeger-thrift:
    enabled: false
  jaeger-grpc:
    enabled: false
  zipkin:
    enabled: false
